# App-specific files
.env

# Node.js files
node_modules/
npm-debug.log
package-lock.json

# Log, archive, and exec files
*.log
*.zip
*.rar
*.exe
*.ico
*.txt

# Editor and IDE files
.vscode/
.idea/
*.sublime-*

# Test files
test/**
test*.*

# Database files
*.sqlite3

# Config and dependency files
jest.config.js
.eslintrc.js
.npmrc
.npmignore

# Backup files
*.bak

# Build files (dist)
**/build/**