# Editors
.vscode/
!.vscode/settings.json
!.vscode/extensions.json
.idea/
.tern-port

# Dependency folders https://docs.npmjs.com/cli/v9/configuring-npm/package-json#files
node_modules/
bower_components/
jspm_packages/
.pnpm-store/

# Logs
*.log
logs/
lerna-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables https://12factor.net/config
.env
.env.*
!example.env

# Configs
**/*-local.json

# Build output https://nextjs.org/docs/basic-features/static-file-serving#ignored-files
dist/
build/
.next/
.nuxt/
.vuepress/dist/
.serverless/
.out/
.contentlayer/

# TypeScript cache and types https://www.typescriptlang.org/tsconfig#incremental
next*.d.ts
!next-compose-plugins.d.ts
*.tsbuildinfo
*.type-check-cache.json

# Git hooks https://typicode.github.io/husky/#/
.husky/

# Cache and temporary files https://eslint.org/docs/latest/user-guide/configuring/cache
.cache/
.rpt2_cache/
.rts2_cache_*/
.turbo/
.eslintcache
.prettier-cache
.stylelintcache

# Node.js diagnostic report files (https://nodejs.org/api/report.html)
report.*.json

# Coverage and test reports https://jestjs.io/docs/configuration#coveragepathignorepatterns-arraystring
coverage/
.nyc_output/
*.lcov
.vitest/
test-results/
*.spec.ts.snap

# System and OS files
.DS_Store
.lock-wscript
Thumbs.db

# Backup and temporary files
*.bak
*.orig
*.tmp
*.tgz
*.pid
*.pid.lock
*.seed
*.swp
*.swo
*.old

# Databases and dumps
dump/
.dynamodb/
*.sqlite
*.sqlite3
*.db
*.db3
*.sql
*.sqlite-wal
*.sqlite-shm
*.bson
*.ns
*.sql.gz
*.pgsql
*.mysql

# Firebase local emulator files https://firebase.google.com/docs/emulator-suite
firebase-debug.log
firebase-export.json
.firestore/

# Prisma (SQLite) local files https://www.prisma.io/docs/concepts/components/prisma-client/working-with-prismaclient#working-with-sqlite
prisma/dev.db
prisma/*.sqlite
prisma/*.sqlite3

# Docker volumes (for named volumes with db data) https://docs.docker.com/storage/volumes/
volumes/

# Custom ignored files
changelog*
storage*
tokens*
