# Root-level files
package*
pnpm*
turbo*

# Node.js
node_modules/**

# Build output
dist/**
build/**
.next/**

# Test coverage
coverage/**

# Editor/IDE settings
.git/**
.vscode/**
.idea/**

# Minified files
*.min.*

# Misc
CHANGELOG.md